.gameUI {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}

.imgContainer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.img {
  width: 100%;
}
